@import "reset.css";

/* CLASSES GÉNÉRALES */

.clear
{
    clear: both;
}

.center
{
    width: 900px;
    margin: 0 auto;
}

.locked
{
    background: url("../images/lock.png") no-repeat 95% 50%;
}

/* END CLASSES GÉNÉRALES */


body
{
    font-family: 'Titillium Web', Arial, sans-serif;
    background: url("../images/p2.png") center top;
}


/* HEADER */

nav
{
    background-color: #2b2b2d;
    margin-bottom: 50px;
}

nav ul
{
    width: 900px;
    margin: 0 auto;
}

nav ul li
{
    float: left;
}

nav ul li a
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    width: 300px;
    padding: 15px 0;
    text-align: center;
    color: #FFF;
    text-decoration: none;
}

nav ul li:first-child a
{
    border-left: 2px solid #cdcdce;
}

nav ul li a
{
    border-left: 1px solid #cdcdce;
    border-right: 1px solid #cdcdce;
}

nav ul li:last-child a
{
    border-right: 2px solid #cdcdce;
}

nav ul li a:hover
{
    background-color: #3b3b3d;
}

#logo
{
    text-align: center;
    margin-bottom: 50px;
}

/* END HEADER */


/* PAGE INDEX */

#index
{
    border: 2px solid #444;
    margin-bottom: 50px;
    display: none;

    position: relative;
}

#index > ul
{
    width: 200px;
    padding: 10px 5px 5px 5px;
    background-color: #FFF;
    border-top: 2px solid #444;
    border-bottom: 2px solid #444;
    border-right: 2px solid #444;

    position: absolute;
    top: -2px;
    left: 900px;
}

#index > ul li
{
    margin-bottom: 25px;
}

#index > ul li:last-child
{
    margin-bottom: 0;
}

#index > ul li span
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
    padding-left: 10px;
    vertical-align: middle;
    display: inline-block;
    width: 150px;
}

#index > ul li img
{
    float: left;
    vertical-align: middle;
}

#legende > ul li
{
    float: left;
    padding: 10px 0;
    margin-bottom: 10px;
    font-size: 12px;
}

#legende > ul li:first-child
{
    width: 30%;
}

#legende > ul li:nth-child(2)
{
    width: 33%;
}

#legende > ul li:nth-child(3)
{
    width: 18%;
}

#legende > ul li:last-child
{
    width: 19%;
}

#legende > ul li img, #legende > ul li span
{
    vertical-align: middle;
}

#menu_jeu
{
    padding: 15px;
    background-color: #80C7BF;
}

#tips, #score, #menu_btn
{
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#tips
{
    width: 30%;
    height: 164px;
    padding: 15px;
    background-color: #4DA0CE;
    border-bottom: 8px solid #2F7492;
    color: #FFF;
}

#tips > span
{
    display: block;
    font-size: 32px;
    margin-bottom: 15px;
}

#key
{
    padding: 0 7px;
    background-color: #2F7492;
}

#tips p
{
    font-size: 18px;
}

#score
{
    width: 40%;
}

#score ul
{
    padding-top: 10px;
    margin-bottom: 60px;
}

#score ul li
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 15px;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 24px;
}

#score img
{
    display: block;
    margin: 0 auto;
}

#menu_btn
{
    width: 30%;
}

#menu_btn > ul li a
{
    display: block;
    width: 100%;
    padding: 8px 0;
    margin-bottom: 10px;
    text-align: center;
    color: #FFF;
    font-size: 24px;
    cursor: pointer;
}

#menu_btn > ul li:first-child a
{
    background-color: #33AC91;
    border-bottom: 8px solid #257B64;
}

#menu_btn > ul li:nth-child(2) a
{
    background-color: #DB307E;
    border-bottom: 8px solid #A82668;
}

#restart a
{
    background-color: #E84942;
    border-bottom: 8px solid #B73934;
    margin-bottom: 0;
}

#start, #cmd, #levels
{
    text-align: center;
    margin-bottom: 75px;
}

#start img, #cmd img
{
    margin-bottom: 50px;
}

#start p
{
    padding: 20px 0;
    margin-bottom: 60px;
    background-color: #D75E9E;
    font-size: 28px;
    color: #FFF;
}

#start a
{
    display: inline-block;
    padding: 15px 0;
    width: 330px;
    font-size: 40px;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
}

#start a.btn_cmd
{
    background-color: #3B8EC3;
    border-bottom: 8px solid #2C6B8E;
    margin-right: 25px;
}

#start a.btn_cmd:hover
{
    background-color: #2C6B8E;
    border-bottom: 8px solid #3B8EC3;
}

#start a.btn_play
{
    background-color: #41B395;
    border-bottom: 8px solid #318970;
}

#start a.btn_play:hover
{
    background-color: #318970;
    border-bottom: 8px solid #41B395;
}

#cmd
{
    display: none;
}

#cmd p
{
    font-size: 48px;
    margin-bottom: 60px;
}

#cmd span, #levels a
{
    display: inline-block;
    padding: 15px 0;
    width: 330px;
    font-size: 40px;
    font-weight: bold;
    color: #FFF;
    background-color: #D15297;
    border-bottom: 8px solid #AD4582;
    cursor: pointer;
}

#cmd span:hover, #levels span:hover
{
    background-color: #AD4582;
    border-bottom: 8px solid #D15297;
}

#levels ul
{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;

    margin-bottom: 50px;
}

#levels ul li
{
    padding: 15px 0;
    margin-bottom: 15px;
    font-size: 45px;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
}

#levels ul li:nth-child(5n-4)
{
    background-color: #319B86;
    border-bottom: 8px solid #267263;
}

#levels ul li:nth-child(5n-3)
{
    background-color: #F6A42D;
    border-bottom: 8px solid #EC9625;
}

#levels ul li:nth-child(5n-2)
{
    background-color: #CF0A63;
    border-bottom: 8px solid #B21257;
}

#levels ul li:nth-child(5n-1)
{
    background-color: #FDCA27;
    border-bottom: 8px solid #E9B125;
}

#levels ul li:nth-child(5n)
{
    background-color: #D43322;
    border-bottom: 8px solid #A6281B;
}


/* END PAGE INDEX */


/* PAGE CRÉATEURS */

#createurs
{
    margin-bottom: 50px;
}

#createurs p
{
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    padding-top: 50px;
    margin-bottom: 100px;
}

#createurs ul li
{
    width: 300px;
    float: left;
    text-align: center;
}

#createurs ul li img
{
    margin-bottom: 40px;
}

#createurs ul li ul li
{
    margin-bottom: 15px;
}

/* END PAGE CRÉATEURS */


/* PAGE SCÉNARIO */

#scenario img
{
    display: block;
    margin: 0 auto 50px auto;
}

#scenario p
{
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 50px;
}

/* END PAGE SCÉNARIO */


/* FOOTER */

footer
{
    line-height: 65px;
    background-color: #40b496;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
}

footer.bottom
{
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer span
{
    vertical-align: middle;
}

footer div
{
    height: 65px;
    background: url('../images/logoSup.png') no-repeat right 50%;
}

/* END FOOTER */

